   p{
        color:brown;
        background-color: white;
      }
      h2{
        color:#000;
      }
      section{
        border: 2px #000 solid;
        margin: 40px;
        padding: 20px;
        background-color: beige;
      }
      

